{% load static %}  <!-- Loads static files like CSS and images -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Restaurant{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/css/style.css' %}">
</head>
<body>
    <header>
        <nav>  <!-- Navigation bar -->
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>  <!-- Link to home page -->
                <li><a href="#">Menu</a></li>  <!-- Placeholder for menu page -->
                <li><a href="#">Reservations</a></li>  <!-- Placeholder for booking page -->
                <li><a href="#">Contact</a></li>  <!-- Placeholder for contact page -->
                <li><a href="{% url 'signup' %}">Sign Up</a></li>  <!-- Link to Signup page -->
            <li><a href="{% url 'login' %}">Login</a></li>  <!-- Link to Login page -->
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %} <!-- Placeholder for page content -->
    </main>
    
    <footer>
        <p>&copy; 2025 The Restaurant. All rights reserved.</p>
    </footer>
</body>
</html>
